html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;

  --color-primary: #588bdbd6;
  --color-light: #f9f9f8;
  --color-dark: #214b82;
  --color-accent-light: #858381;
  --color-accent-dark: #815b60;
  --color-font-light: var(--color-light);
  --color-font-dark: var(--color-dark);

  --font-weight-strong: 700;
  --font-weight-normal: 400;

  --spacing-extra-tight: 0.5rem;
  --spacing-tight: 0.75rem;
  --spacing-normal: 1rem;
  --spacing-loose: 1.25rem;
  --spacing-extra-loose: 3rem;

  background-color: var(--color-light);
  color: var(--color-font-dark);
  font-weight: var(--font-weight-normal);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--spacing-normal);
  padding-right: var(--spacing-normal);
}

h1 {
  margin: 0;
  font-size: 3.125rem;
  letter-spacing: 1.25px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
p {
  font-weight: var(--font-weight-normal);
  line-height: 2rem;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.btn {
  border: 0;
  border-radius: 50px;
  padding: var(--spacing-extra-tight) var(--spacing-normal);
  color: var(--color-font-dark);
  background: var(--color-light);
  font-weight: var(--font-weight-strong);
  font-size: 1.125rem;
  transition: 200ms;
  border: 1px solid #e6e8e8;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-font-light);
  border: 1px solid transparent;
}

.btn.btn-icon {
  display: flex;
  align-items: center;
  padding-top: var(--spacing-extra-tight);
  padding-bottom: var(--spacing-extra-tight);
  padding-right: var(--spacing-extra-tight);
  padding-left: var(--spacing-loose);
}

.btn.btn-icon > i {
  font-size: 1.25rem;
  margin-left: var(--spacing-tight);
  border-radius: 50%;
  background-color: #60a6c73f;
  padding: var(--spacing-extra-tight);
  transition: 200ms;
  color: var(--color-dark);
}

.btn.btn-icon:hover > i {
  background-color: var(--color-primary);
  color: var(--color-light);
}

header {
  background-color: var(--color-primary);
  color: var(--color-font-light);
  font-weight: var(--font-weight-strong);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-normal) 0;
  font-size: 1.125rem;
}

header nav > a > img {
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-links > li > a {
  text-decoration: none;
  color: var(--color-font-light);
  opacity: 0.6;
  padding: 0 var(--spacing-normal);
}

.nav-links > li > .btn {
  margin-left: var(--spacing-extra-loose);
}

.nav-links > li.active > a,
.nav-links > li:hover > a {
  opacity: 1;
}

.hero {
  min-height: 65vh;
}

.hero__info {
  margin-top: calc(2 * var(--spacing-extra-loose));
  flex: 0 0 50%;
}

.hero__image {
  display: flex;
  align-items: center;
}

.hero__image img {
  width: 75%;
  margin-left: calc(var(--spacing-extra-loose) * 3);
}

.hero .btn {
  margin-top: var(--spacing-extra-loose);
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-extra-loose) 0;
}

.companies img {
  filter: grayscale(1);
  height: 50px;
  margin: 0 var(--spacing-extra-loose);
  opacity: 0.6;
}

.services {
  padding: var(--spacing-extra-loose) 0;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(2 * var(--spacing-extra-loose));
}

.service:first-of-type {
  margin-top: 0;
}

.service:nth-child(even) .service__info {
  order: 2;
  padding-right: 0;
  padding-left: calc(var(--spacing-extra-loose) * 2);
}

.service:nth-child(even) .service__image {
  order: 1;
}

.service__info {
  padding-right: calc(var(--spacing-extra-loose) * 2);
  order: 1;
}

.service__info .btn {
  margin-top: var(--spacing-loose);
}

.service__info i {
  font-size: 5rem;
  color: var(--color-primary);
}

.service__image {
  width: 100%;
  order: 2;
}

.service__image img {
  width: 100%;
}

.about {
  background: #8699fd42;
  padding: var(--spacing-extra-loose) 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 50%;
}

.about__item:first-of-type {
  margin-right: var(--spacing-loose);
}

.about figure {
  height: 700px;
  margin: 0;
  margin-top: var(--spacing-normal);
  border-radius: 10px;
  overflow: hidden;
}

.accordion {
  margin-top: var(--spacing-normal);
}

.accordion__item {
  margin-top: var(--spacing-tight);
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light);
  padding: var(--spacing-extra-tight) var(--spacing-normal);
  border-radius: 25px;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.025);
  cursor: pointer;
}

.accordion__title h4 {
  font-weight: var(--font-weight-strong);
  margin: 0;
}

.accordion__title i {
  transition: 200ms;
}

.accordion__title i.open {
  transform: rotate(180deg);
}

.accordion__content {
  display: none;
  background-color: var(--color-light);
  border-radius: 25px;
  padding: var(--spacing-extra-tight) var(--spacing-normal);
  margin-top: var(--spacing-tight);
}

.reviews {
  background: #8699fd12;
  padding: var(--spacing-extra-loose) 0;
}

.reviews div.container > * {
  text-align: center;
}

.reviews h2 {
  margin: var(--spacing-normal);
}

.swiper-container {
  width: 100%;
  margin-top: var(--spacing-loose);
}

.testimony {
  background: white;
  border-radius: 10px;
  padding: var(--spacing-normal);
  margin: var(--spacing-normal) 0;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.015);
}

.testimony__person {
  display: flex;
  align-items: center;
}

.testimony__title {
  margin-left: var(--spacing-normal);
}

.testimony__title p {
  line-height: 1.5rem;
}

.testimony__title p:first-child {
  font-weight: var(--font-weight-strong);
}

.testimony__image img {
  width: 75px;
  border-radius: 50%;
  border: 2px solid var(--color-light);
}

.testimony__content {
  margin-top: var(--spacing-normal);
}

.cta {
  background: var(--color-dark);
  color: var(--color-font-light);
  padding: var(--spacing-extra-loose) 0;
}

.cta .container div {
  margin: 0 var(--spacing-normal);
}

.cta .container div:nth-child(even) {
  flex: 1 1 50%;
}

.cta .container div:nth-child(odd) {
  flex: 1 1 25%;
}

.contact {
  position: relative;
  background: url("assets/people.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-blend-mode: luminosity;
  padding: var(--spacing-extra-loose) 0;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  opacity: 0.3;
  z-index: 1;
}

.contact__card {
  display: flex;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.025);
}

.contact__info {
  flex-basis: 50%;
  position: relative;
  color: var(--color-light);
  padding: var(--spacing-loose);
}

.contact__info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  opacity: 0.9;
  z-index: 1;
}

.contact__info > * {
  position: relative;
  z-index: 2;
}

.contact h3,
.contact h4 {
  margin: var(--spacing-loose) 0;
}

.contact__info h4 {
  font-size: 1.2rem;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-right: var(--spacing-loose);
}

.contact__info h4 i {
  margin-right: var(--spacing-normal);
}

.contact__info h5 {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 2rem;
}

.contact__form {
  flex-basis: 50%;
  background-color: var(--color-light);
  text-align: center;
}

.contact__form p {
  margin: var(--spacing-normal);
}

.contact__form {
  padding: var(--spacing-loose);
}

.contact__form form {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-normal);
}

.contact__form button {
  border-radius: 25px;
  background-color: var(--color-primary);
  border: 0;
  color: var(--color-font-light);
  padding: var(--spacing-normal) var(--spacing-loose);
}

input,
textarea {
  padding: var(--spacing-tight) var(--spacing-loose);
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  margin: var(--spacing-tight) 0;
  flex: 1;
}

.flex > input:nth-child(2) {
  margin-left: var(--spacing-normal);
}

footer {
  background-color: var(--color-primary);
  color: var(--color-font-light);
  padding: calc(2 * var(--spacing-extra-loose)) 0;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
}

.footer__navigation img {
  width: 150px;
}

.footer__navigation ul {
  list-style: none;
  padding: 0;
  margin: 0 2rem;
}

.footer__navigation ul li a {
  text-decoration: none;
  color: var(--color-font-light);
  font-size: 1.125rem;
  margin: 0.25rem 0;
  display: inline-block;
}

.footer__navigation ul li:first-of-type a {
  font-weight: 600;
}

.footer__links {
  display: flex;
}

.copyright {
  margin-top: var(--spacing-extra-loose);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero {
    min-height: 50vh;
    padding: var(--spacing-loose) 0;
  }

  .hero__info {
    margin-top: 0;
    flex: 1;
  }

  .hero__image {
    display: none;
  }

  .companies img {
    margin: 0 var(--spacing-loose);
    height: 25px;
  }

  .service {
    margin-top: var(--spacing-extra-loose);
    flex-direction: column;
  }

  .service__info {
    order: 2;
    padding: 0 !important;
    margin-top: var(--spacing-normal);
  }

  .service__image {
    order: 1;
    width: 75%;
    margin: 0 auto;
  }

  .about > div {
    flex-wrap: wrap;
  }

  .about__item {
    flex: 1 1 100%;
    margin-right: 0 !important;
  }

  .about__item figure {
    height: 300px;
  }

  .testimony {
    margin: 0 var(--spacing-normal);
  }

  .cta .container,
  .contact__card,
  .contact__form .flex,
  .footer__navigation {
    flex-direction: column;
  }

  .contact__info {
    text-align: center;
  }

  .contact__info .flex {
    flex-direction: column;
    align-items: center;
  }

  .contact__form input {
    margin-left: 0 !important;
  }

  .contact__form textarea {
    min-height: 150px;
    margin-bottom: var(--spacing-normal);
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__navigation ul {
    margin: var(--spacing-tight) 0; 
  }

  .copyright {
    margin-top: var(--spacing-loose);
  }
}
