html, body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;

    --color-primary: #588BDBD6;
    --color-light: #F9F9F8;
    --color-dark: #214B82;
    --color-accent-light: #858381;
    --color-accent-dark: #815B60;
    --color-font-light: var(--color-light);
    --color-font-dark: var(--color-dark);

    --font-weight-strong: 700;
    --font-weight-normal: 400;

    --spacing-extra-tight: 0.5rem;
    --spacing-tight: 0.75rem;
    --spacing-normal: 1rem;
    --spacing-loose: 1.25rem;
    --spacing-extra-loose: 3rem;

    background-color: var(--color-light);
    color: var(--color-font-dark);
    font-weight: var(--font-weight-normal);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: var(--spacing-normal);
    padding-right: var(--spacing-normal);
}

h1 {
    font-size: 3.125rem;
    letter-spacing: 1.25px;
}

h2 {
    font-size: 2.5rem;
}

h4, p {
    font-weight: var(--font-weight-normal);
    line-height: 2rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.btn {
    border: 0;
    border-radius: 25px;
    padding: var(--spacing-extra-tight) var(--spacing-normal);
    color: var(--color-font-dark);
    font-weight: var(--font-weight-strong);
    font-size: 1.125rem;
    transition: 200ms;
    border: 1px solid #e6e8e8;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-dark);
    color: var(--color-font-light);
    border: 1px solid transparent;
}

.btn.btn-icon {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-extra-tight);
    padding-bottom: var(--spacing-extra-tight);
    padding-right: var(--spacing-extra-tight);
    padding-left: var(--spacing-loose);
}

.btn.btn-icon > i {
    font-size: 1.25rem;
    margin-left: var(--spacing-tight);
    border-radius: 50%;
    background-color: #60A6C73f;
    padding: var(--spacing-extra-tight);
    transition: 200ms;
    color: var(--color-dark);
}

.btn.btn-icon:hover > i {
    background-color: var(--color-primary);
    color: var(--color-light);
}

header {
    background-color: var(--color-primary);
    color: var(--color-font-light);
    font-weight: var(--font-weight-strong);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-normal) 0;
    font-size: 1.125rem;
}

header nav > a > img {
    height: 50px;
}

header nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

header nav > ul > li > a {
    text-decoration: none;
    color: var(--color-font-light);
    opacity: 0.6;
    padding: 0 var(--spacing-normal);
}

header nav > ul > li > .btn {
    margin-left: var(--spacing-extra-loose);
}

header nav > ul > li.active > a,
header nav > ul > li:hover > a {
    opacity: 1;
}

.hero {
    min-height: 65vh;
}

.hero__info {
    margin-top: calc(2 * var(--spacing-extra-loose));
    flex: 0 0 50%;
}

.hero__image {
    display: flex;
    align-items: center;
}

.hero__image img {
    width: 75%;
    margin-left: calc(var(--spacing-extra-loose) * 3);
}

.hero .btn {
    margin-top: var(--spacing-extra-loose);
}

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-extra-loose) 0;
}

.companies img {
    filter: grayscale(1);
    height: 50px;
    margin: 0 var(--spacing-extra-loose);
    opacity: 0.6;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--spacing-extra-loose);
    margin-top: calc(2 * var(--spacing-extra-loose));
}

.service:nth-child(even) .service__info {
    order: 2;
    padding-right: 0;
    padding-left: calc(var(--spacing-extra-loose) * 2);
} 

.service:nth-child(even) .service__image {
    order: 1;
} 

.service__info {
    padding-right: calc(var(--spacing-extra-loose) * 2);
    order: 1;
}

.service__info .btn {
    margin-top: var(--spacing-loose);
} 

.service__info i {
    font-size: 5rem;
    color: var(--color-primary);
}

.service__image {
    width: 100%;
    order: 2;
}

.service__image img {
    width: 100%;
}